:root {
  --white: #fff;
  --black: #000;
  --brown1: #4e3316;
  --brown2: #88715b;
  --brown3: #a69282;
  --green1: #598b3a;
  --green2: #709555;
  --green3: #8caa75;
  --gray1: #808080;
  --gray2: #7d7f7d;
  --gray3: #a1a1a1;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../images/background/background-home.jpg);
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

header {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 4%;
  width: 100%;
  color: var(--green1);
}

.logo {
  margin-top: 1%;
  margin-bottom: -2%;
  margin-left: center;
  width: 250px;
  height: auto;
}

div {
  text-align: center;
}

.maintenance img{
  width: 450px;
  height: auto;
  border-radius: 20px;
  border: #fff 3px solid;
  box-shadow: 5px 5px 5px var(--green2);
  -moz-box-shadow: 5px 5px 5px var(--green2);
  -webkit-box-shadow: 5px 5px 5px var(--green2);
}

#container {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 1.1em;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#container div {
  width: 22.5%;
  height: auto;
}

#container div img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: #fff 3px solid;
  box-shadow: 5px 5px 5px var(--green2);
  -moz-box-shadow: 5px 5px 5px var(--green2);
  -webkit-box-shadow: 5px 5px 5px var(--green2);
}

#container div p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 80%;
  height: auto;
}

/* fade in */
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* footer */
footer {
  font-family: "Montserrat", sans-serif;
  font-size: 7pt;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 1%;
  width: 100%;
  color: var(--black);
}
