@font-face {
  font-family: DancingScript;
  src: url("/Debby/fonts/DancingScript-Regular.ttf");
}

@font-face {
  font-family: DancingScript Bold;
  src: url("/Debby/fonts/DancingScript-Bold.ttf");
}
@font-face {
  font-family: LHF Becker;
  src: url("/Debby/fonts/LHF_Becker_Monogram_English.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("/Debby/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("/Debby/fonts/Roboto-Bold.ttf");
}

:root {
  --white: #fff;
  --black: #000;
  --brown1: #4e3316;
  --brown2: #c45911;
  --brown3: #88715b;
  --brown4: #a69282;
  --green1: #538135;
  --green2: #709555;
  --green3: #8caa75;
  --green4: #a8bf96;
  --green5: #c5d4b8;
  --green6: #e2e9db;
  --gray1: #808080;
  --gray2: #7d7f7d;
  --gray3: #a1a1a1;
  --yellow: #faecc8;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

.bg {
  margin: 0;
  height: auto;
  width: 100%;
  padding: 0;
  background-image: url("/Debby/images/background/AdobeStock_280102415.jpeg");
  background-size: cover;
  background-repeat: repeat;
}

header {
  font-family: DancingScript Bold;
  font-size: 40px;
  text-align: center;
  /* overflow: hidden; */
  position: fixed;
  left: 0;
  top: 10%;
  width: 100%;
  color: var(--black);
}

.logo {
  margin-top: -5%;
  margin-left: auto;
  width: 350px;
  height: auto;
  border-radius: 0px;
  border: none;
  box-shadow: none;
}

/* Styles for heading tags */
h1,
h6 {
  font-family: DancingScript Bold;
  text-align: center;
  width: 100%;
  color: var(--black);
}

h1 {
  font-size: 2em;
}

h6 {
  font-size: 18pt;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
}

.h2Index {
  font-family: DancingScript Bold;
  text-align: center;
  width: 100%;
  color: var(--black);
  font-size: 20pt;
  margin-top: 5px;
}

img {
  width: 175px;
  height: 175px;
  margin-block: 0px;
  border-radius: 20px;
  border: #fff 2px solid;
  box-shadow: 5px 5px 5px var(--green2);
  -moz-box-shadow: 5px 5px 5px var(--green2);
  -webkit-box-shadow: 5px 5px 5px var(--green2);
}

/* Style for table */
.styled-table {
  border-collapse: collapse;
  margin: 18% 15%;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}

.styled-table thead tr {
  text-align: left;
  font-family: DancingScript Bold;
  color: var(--black);
  font-size: 20pt;
}

.styled-table th,
.styled-table td {
    padding: 12px 50px;
}

.styled-table tbody tr,
.styled-table tbody td {
  padding-top: 0;
  vertical-align: top;
}

/* styles for main content area */
#content {
  margin-left: 250px;
  padding: 5px;
  text-align: left;
  vertical-align: top;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* footer */
footer {
  font-family: Roboto;
  font-size: 7pt;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 1%;
  width: 100%;
  color: var(--black);
}